@font-face {
    font-family: 'Open Sans';
    font-style:  normal;
    font-weight: 400;
    src:         local('Open Sans'), local('OpenSans'), url(../fonts/open-sans.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style:  normal;
    font-weight: 700;
    src:         local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style:  normal;
    font-weight: 300;
    src:         local('Merriweather Light'), local('Merriweather-Light'), url(../fonts/merriweather-light.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style:  normal;
    font-weight: 400;
    src:         local('Merriweather'), url(../fonts/merriweather.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style:  normal;
    font-weight: 700;
    src:         local('Merriweather Bold'), local('Merriweather-Bold'), url(../fonts/merriweather-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style:  italic;
    font-weight: 300;
    src:         local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url(../fonts/merriweather-light-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    font-style:  italic;
    font-weight: 700;
    src:         local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(../fonts/merriweather-bold-italic.ttf) format('truetype');
}

/* noto-serif-tc-200 - chinese-traditional */
@font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-300 - chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-regular - chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-500 - chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-600 - chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-700 - chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-serif-tc-900 - chinese-traditional */
  @font-face {
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/noto-serif-tc-v8-chinese-traditional-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-serif-tc-v8-chinese-traditional-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
